.figure-quote {
  border-left: 8px blue solid ;
  padding-left: 20px;
}

.figure-quote > blockquote {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  font-weight:bold;
  font-style: italic;
}

.figure-quote > figcaption{
  font-size: .9rem;
}